<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile">
      <div class="tile is-parent is-vertical ">
        <article class="tile is-child notification has-text-grey"><figure class="image is-3by1">
            <img src="http://r70.cooltext.com/rendered/cooltext340415490814984.png">
          </figure></article>
        </article>
        <article class="tile is-child notification has-text-grey">
          <p class="subtitle">Want to become a detailer? Don't work for us?! Work with us!</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification has-text-grey">
          <figure class="image is-4by3">
            <img class=" is-rounded" src="https://images.unsplash.com/photo-1543857182-68106299b6b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80">
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent ">
      <article class="tile is-child notification has-text-grey"><p> $ SIGN UP NOW TO EARN MONEY $</p>
      </article>
    </div>
  </div>
    </article>
  </div>
</div>
</body>
</html>