<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<% if user_signed_in? %>
  <% if current_user.image.attached? %>
    <%= image_tag current_user.image, width: 120 %>
  <% end %>
  <p>Hello,<%= current_user.first_name %></p>
<% end %>
    <div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile">
      <div class="tile is-parent is-vertical ">
        <article class="tile is-child notification has-background-white-ter	"></article>
        </article>
        <article class="tile is-child notification has-background-white-ter	">
          <p class="subtitle"><h1 class="title is-1 has-text-link" >Splash Auto Mobile Wash
      </div>
      <div class="tile is-parent has-background-white-ter	"><article class="tile is-child notification has-background-white-ter	"><img src="https://images.unsplash.com/photo-1565689876697-e467b6c54da2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Smiley face" height="420" width="420">
      </article>
        <article class="tile is-child notification has-background-white-ter	">
          <figure class="image is-4by3">
        <div class="notification is-success">
  <button  class="delete"></button>
  Splash Auto Mobile Wash
</div>
<div class="notification is-info">
  <button class="delete"></button>
  Great for beginners
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent has-background-white-ter	">
    </div>
  </div>
    </article>
  </div>
</div>
</body>
</html>