<table>
    <thead>
        <tr>
            <td>Model</td>
            <td>Make</td>
            <td>Rego</td>
        </tr>
    </thead>
    <tbody>
        <% @cars.each do |car| %>
            <tr>
                <td><%= car.model %></td>
                <td><%= car.make %></td>
                <td><%= car.rego %></td>
            </tr>
        <% end %>
    </tbody>
</table>
