<div class="tabs is-medium">
  <ul>
    <li class="is-active"><a>Pictures</a></li>
    <li><a>View Cars Info</a></li>
    <li><a>View payment</a></li>
    <li><a>Address</a></li>
  </ul>
  <%= @car.owner_id %>
</div>